<!-- This file is a wrapper file for all the views
in the application. Anything in the body gets served to all views.-->

<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Renders the navigation 'navbar' partial -->
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>

    <!-- How is adding the yield inside the container class modifying the style? -->
    <!-- Container is a class in bootstrap -->
    <!-- It sets the 12 col grid system. -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- Renders Footer for all pages-->
    <%= render 'layouts/footer' %>
  </body>
</html>
